@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Molengo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BioRhyme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
:root {
  --blue: #1cb4da;
}

body {
  /* font-family: "Molengo", sans-serif; */
  color: rgb(45, 45, 45);
  background: rgb(30, 200, 197);
  font-size: 1.2rem;
  background: linear-gradient(
    90deg,
    rgba(30, 200, 197, 1) 0%,
    rgba(250, 250, 138, 1) 100%
  );
  scroll-behavior: smooth;
  display: flex;
  /* justify-content: center; */
}

a {
  text-decoration: none;
  color: inherit;
  margin-right: 80px;
}

a:hover {
  border: 1px solid var(--blue);
  border-radius: 10px;
  padding: 5px;
  background-color: var(--blue);
  color: white;
}

nav {
  width: 100%;
  text-align: right;
  border-bottom: 3px solid rgba(255, 255, 255);
  padding-top: 5px;
}

ul {
  /* margin-left: 100px; */
}

nav li {
  display: inline;
  margin-right: 10px;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 4px 4px 14px 12px rgba(255, 255, 255, 0.43);
  -webkit-box-shadow: 4px 4px 14px 12px rgba(255, 255, 255, 0.43);
  -moz-box-shadow: 4px 4px 14px 12px rgba(255, 255, 255, 0.43);
  /* padding: 5px; */
  margin-bottom: 5rem;
  /* width: 75%; */
  width: 100%;
}

.profile {
  text-align: center;
  padding-top: 15px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.profile h1 {
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: 10px;
  margin: 0;
  font-family: "BioRhyme", serif;
}
.avatar {
  height: 250px;
  width: 250px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 30px 0 0 0;
  box-shadow: 4px 6px 19px 3px rgba(5, 5, 5, 0.43);
  -webkit-box-shadow: 4px 6px 19px 3px rgba(5, 5, 5, 0.43);
  -moz-box-shadow: 4px 6px 19px 3px rgba(5, 5, 5, 0.43);
}
.heighlight {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2.4px;
  -webkit-text-stroke-color: rgb(45, 45, 45);
}
.icons a {
  font-size: 28px;
  margin-right: 30px;
}
.icons a:hover {
  font-size: 28px;
  margin-right: 8px;
  color: var(--blue);
  background-color: transparent;
  padding: 0;
  border: none;
  margin-right: 30px;
}

.about {
  letter-spacing: 5px;
  font-size: 30px;
  margin: 0 0 30px 0;

  /* font-family: "Philosopher", sans-serif; */
}
.hi {
  margin: 20px 0px;
}

h5 {
  font-size: 25px;
  font-family: "Molengo", sans-serif;
  margin: 0;
  letter-spacing: 3px;
  margin-top: 10px;
  text-align: center;
  margin-left: 20px;
}
